:host {
    --fonts-default: inherit;
    --brand-color: #953765;  /* Humas main brand color */
    --hover-color: #a9527c ;
    --dark-background: #262626; /* Dashboard background color like black */
    --light-gray: #303030; /* Lighter dashboard color used for side panels */
    --font-color: #FAFAF9; /* Font color for dark mode */
  }
  
  .vfrc-launcher {
      background-color: var(--brand-color);
  }
  
  .vfrc-launcher:hover {
      background-color: var(--hover-color);
  }
  
  .vfrc-chat {
      background-color: var(--dark-background);
  }
  
  .vfrc-widget--chat {
      max-height: 100% !important;
  }
  
  .vfrc-header,
  .vfrc-footer {
      background-color: var(--brand-color);
  }
  
  ::-webkit-scrollbar {
      border-left: 1px solid var(--brand-color);
  }
  
  ::-webkit-scrollbar-thumb {
      background-color: rgba(149, 54, 101, 0.3); /* Opacity added to the brand color */
  }
  
  .vfrc-assistant-info--title {
      color: var(--font-color);
  }
  
  .vfrc-assistant-info--description,
  .vfrc-chat--session-time,
  .vfrc-timestamp,
  .vfrc-footer--watermark {
      color: rgba(250, 250, 249, 0.8); /* Font color with reduced opacity */
  }
  .vfrc-assistant-info--description a,
  .vfrc-chat--session-time a,
  .vfrc-timestamp a,
  .vfrc-footer--watermark a {
      color: var(--font-color);
  }
  .vfrc-message--chat {
    background-color: var(--light-gray);
    color: var(--font-color);
  }
  .vfrc-button--secondary {
      background-color: var(--light-gray);
      color: var(--font-color);
      border-color: var(--brand-color);
  }
  
  .vfrc-button--secondary:hover {
      font-weight: 700;
      border-color: var(--brand-color);
      border: 2px;
  }
  
  .vfrc-footer button.vfrc-button {
      position: relative;
      background-color: var(--brand-color) !important;
  }
  .vfrc-footer button.vfrc-button::after {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      inset: 0;
      color: var(--font-color);
      border: 2px;
  }
  .vfrc-footer .vfrc-chat-input--button .vfrc-bubble {
      background-color: var(--brand-color);
  }
  .vfrc-prompt {
      background-color: var(--brand-color);
  }
  .vfrc-prompt button {
      color: var(--font-color);
  }
  .vfrc-prompt button:hover {
      color: #efefef;
  }
